.music {
    width: 150px;
    height: 100px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.music .bar {
    width: 6px;
    height: 2px;
    border-radius: 10px;
    background-color: #60A5FA;
    animation: loader 1.5s ease-in-out infinite;
    transform-origin: bottom;
    display: block;
    margin: 0 1px;
}

@keyframes loader {
    0%, 100% {
        height: 2px;
    }
    50% {
        height: 40px;
    }
}

.music .bar:nth-child(1) {
    background: #0891B2; /* cyan-600 */
    animation-delay: 0.1s;
}

.music .bar:nth-child(2) {
    background: #06B6D4; /* cyan-500 */
    animation-delay: 0.2s;
}

.music .bar:nth-child(3) {
    background: #22D3EE; /* cyan-400 */
    animation-delay: 0.3s;
}

.music .bar:nth-child(4) {
    background: #2DD4BF; /* teal-400 */
    animation-delay: 0.4s;
}

.music .bar:nth-child(5) {
    background: #14B8A6; /* teal-500 */
    animation-delay: 0.5s;
}

.music .bar:nth-child(6) {
    background: #14B8A6; /* teal-500 */
    animation-delay: 0.6s;
}

.music .bar:nth-child(7) {
    background: #2DD4BF; /* teal-400 */
    animation-delay: 0.7s;
}

.music .bar:nth-child(8) {
    background: #22D3EE; /* cyan-400 */
    animation-delay: 0.8s;
}

.music .bar:nth-child(9) {
    background: #06B6D4; /* cyan-500 */
    animation-delay: 0.9s;
}

.music .bar:nth-child(10) {
    background: #0891B2; /* cyan-600 */
    animation-delay: 1.0s;
} 