@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  overscroll-behavior: none;
  --safe-area-bottom: env(safe-area-inset-bottom, 20px);
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  overscroll-behavior: none;
}

body {
  min-height: 100%;
  -webkit-overflow-scrolling: touch; /* For smooth scrolling on iOS */
  padding-bottom: var(--safe-area-bottom);
}
